body {
  height: 612px;
  width: 375px;
  margin: 0 auto;
  font-family: "Source Sans 3", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  margin: 10px auto;
  background-color: white;
  font-size: 0.75rem;
}
html {
  background-color: whitesmoke;
}
h1 {
  font-size: 0.8125rem;
}
header {
  border-bottom: 1px solid grey;
}
.container-1 {
  margin: 0 auto;
  height: 4.1875rem;
  display: flex;
  justify-self: start;
  align-items: center;
}
.container {
  width: 21.4375rem;
}
.container-2 {
  display: flex;
  height: 3.4375rem;
  margin: 0 auto;
  justify-content: start;
  align-items: center;
}
.post-details {
  padding: 7px;
  display: flex;
  flex-direction: column;
  justify-self: end;
}
.van-gogh-avatar {
  height: 2.125rem;
  width: 2.125rem;
  border-radius: 50%;
}
.post-details h1 {
    margin-bottom: 0;
}
.post-details p {
    margin-top: 0;
    margin-bottom: 13px;

}
.van-gogh-post {
    height: 23.4375rem;
    width: 23.4375rem;
    margin-top: 0;
}
.container-3 {
    display: flex;
    margin: 15px auto 11.87px;
    gap: 20px;
}
.container-4 {
    margin: 0 auto;
    display: flex;
    flex-direction:column;
}
.container-4 h1 {
    margin-top: 0;
    margin-bottom: 0;
}
.container-4 p {
    margin-top: 7px;
}
.container-3 img:hover {
    background-color: red;
}
span {
    font-weight: 700;
}